.myDiv{
    border-style: groove;
    width:33%;
    color:blue;   
}

.right{
    float:right
}

.left{
  width:50%;
    color:blue;
    float: left;
}
  
.myDiv{
            border-style: groove;
            width:50%;
            color:gold;
            
                
    }

body {background-image: url("https://greatphillyschools.org/uploads/files/561776252260029443-hackett-photo.0.163.2169.1301.full.jpg");
background-size:cover}
