.right{
    float: right;
}

.left{
  color:blue;
  float: left;
}
  
.myDiv{
    border-style: groove;
     width:50%;
     color:gold;      
      box-sizing: border-box;          
    }

body {background-color: #307af2;
background-size:cover}

.myDiv{
    width: 50%;
}

.myDiv float: right;